.env
.venv
env/
venv/
.idea/*
*.pyc
*.pyo
__pycache__/
db.sqlite3
db.sqlite3-journal
/static/
*.iml
media
lib/
library_app.zip
.pytest_cache/
.vscode/

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec
